# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

#My-folders
tmp

data/*
!data/.gitkeep
package-lock.json

# Folders
_obj
node_modules
flow-typed
data
output
dist
_test
.tmp_build

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

slave_*.log
npm-debug.log.*
npm-debug.log

mintty.exe.stackdump
server/conf.json
server/static/*
server/tmp_docs/*
!server/tmp_docs/.gitkeep
!server/static/.gitkeep
!server/static/media

_testmain.go

*.exe
*.test
*.prof
