.user-ID-input {
  width: 50px !important;
  height: 50px;
  display: inline-block !important;
  margin: 0;
  padding: 7px;
  margin: 0 1mm;
  padding-left: 10px;
  font-size: 51px !important;
}

$bombay: #b1b2b3;
$general-font: 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;

%fancy-text {
	-webkit-user-select: none;
	box-sizing: border-box;
	color: $bombay;
	cursor: default;
	font-family: $general-font;
	font-weight: bold;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	opacity: 1;
	text-align: center;
}

.fancy-text {
	@extend %fancy-text;
	font-size: 31px;
	line-height: 34px;
}

.fancy-text-sm {
	@extend %fancy-text;
	font-size: 16px;
	line-height: 23.5px;
}

.cursor-pointer {
	cursor: pointer;
}

.no-wrap {
	white-space: nowrap;
}

.truncate {
    display:block;
    width:17em;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}
